on:
  pull_request:
    types: [labeled, opened, synchronize, reopened]

env:
  GITHUB_PR_NUMBER: ${{ github.event.pull_request.number }}
  GITHUB_PR_COMMIT_SHA: ${{ github.event.pull_request.head.sha }}

jobs:
  pr-release:
    runs-on: ubuntu-latest
    if: contains(github.event.pull_request.labels.*.name, 'preview')
    steps:
      - uses: actions/checkout@v6

      - uses: ./.github/actions/setup

      - run: npm set "//registry.npmjs.org/:_authToken" ${{ secrets.NPM_TOKEN }}

      - run: scripts/ci/snapshot-release

      - uses: actions/github-script@v7
        with:
          script: |
            const module = await import('${{ github.workspace }}/.github/actions/pr-comment.js');
            module.run({ github, context })
